@font-face {
  font-family: Oswald;
  src: url("Oswald-ExtraLight.ttf");
}

* {
  font-family: "Oswald";
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #161719;
  height: 46.5px;
  font-family: "Oswald";
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.955);
}

.nav-container {
  width: 75%;
  margin: 0 auto;
}


li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-right: 20px;
  margin-left: 20px;
}

li a:hover {
  background-color: #D36236;
}

.nav-item a:hover {
  color: #161719;
}

li a:active {
  background-color: #8b300c;
}

main {
  position: relative;
}

.page-container {
  width: 75%;
  margin: 0 auto;
}

#content {
  margin-bottom: 100px;
}

/* MAYBE CHANGE THE BACKGROUND TO SOMETHING COOLER LATER */
.content-container {
  background-image: url('img/background-texture-1.png');
  background-size: cover;
  padding: 20px;
  border-radius: 8px;
  height: 350px;
}

.food-picture {
  width: 200px;
  height: auto;
  float: left;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 8px 8px 8px 8px;
}

.vegetables {
  position: absolute;
  bottom: 357px;
  right: 250px;
  width: 180px; /* Adjust width as needed */
  height: auto; /* Automatically adjust height based on width */
}

footer {
  background-color: #D36236;
  height: 50px;
  text-align: center;
  margin-top: 20px;
}
