@font-face {
  font-family: Oswald;
  src: url("Oswald-ExtraLight.ttf");
}

* {
  font-family: "Oswald";
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #161719;
  height: 46.5px;
  font-family: "Oswald";
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.955);
}

.nav-container {
  width: 75%;
  margin: 0 auto;
}


li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-right: 20px;
  margin-left: 20px;
}

li a:hover {
  background-color: #D36236;
}

.nav-item a:hover {
  color: #161719;
}

li a:active {
  background-color: #8b300c;
}

main {
  position: relative;
}

.page-container {
  width: 75%;
  margin: 0 auto;
}

#content {
  margin-bottom: 100px;
}

/* MAYBE CHANGE THE BACKGROUND TO SOMETHING COOLER LATER */
.content-container {
  background-image: url('img/background-texture-1.png');
  background-size: cover;
  padding: 20px;
  border-radius: 8px;
  height: 350px;
}

.food-picture {
  width: 200px;
  height: auto;
  float: left;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 8px 8px 8px 8px;
}

.vegetables {
  position: absolute;
  bottom: 357px;
  right: 250px;
  width: 180px; /* Adjust width as needed */
  height: auto; /* Automatically adjust height based on width */
}

footer {
  background-color: #D36236;
  height: 50px;
  text-align: center;
  margin-top: 20px;
}

dialog {
  background-color: #D36236;
  padding: 20px;
}

/* Dialogin root muuttujat */

:root {
  --ratio: 3.74;
  --cta-color: rgb(0, 102, 254);
  --light-color-bg: rgb(238, 241, 247);
  --dark-color-bg: rgb(55, 65, 81);
  --grey-color: rgb(107, 114, 128);
  --leading: 0.025em;
}

/* TESTIÄ */

button {
  display: block;
  margin-top: 2rem;
  width: calc(44px * var(--ratio));
  height: 44px;
  border-radius: calc(3px * var(--ratio));
  border: none;
  letter-spacing: ccalc(3 * var(--leading, 0.025em));
  font-family: inherit;
  color: var(--grey-color);
  background-color: var(--light-color-bg);
  font-size: large;
  font-weight: 700;
}

button:focus {
  outline: none;
  border: 0.0625rem solid transparent;
  box-shadow: 0 0 0 0.125rem #fff, 0 0 0 0.2rem var(--dark-color-bg);
}

button.cta {
  background-color: var(--cta-color);
  color: white;
}

button.cta:focus {
  box-shadow: 0 0 0 0.125rem #fff, 0 0 0 0.2rem var(--cta-color);
}

#open_dialog {
  margin: 0 auto;
}

dialog {
  border: none !important;
  border-radius: calc(5px * var(--ratio));
  box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  padding: 1.6rem;
  max-width: 400px;
}

dialog img {
  display: block;
  max-width: 75%;
  margin: 1rem 0 auto 2rem;
}

.h1 {
  margin: 2rem 0 1rem;
  font-weight: 900;
}

.h2 {
  margin: 2rem 0 1rem;
  font-weight: 800;
}

p {
  color: var(--grey-color);
  letter-spacing: var(--leading, 0.025em);
  line-height: 1.625;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex.flex-space-between {
  justify-content: space-between;
}

.flex button {
  margin: 8px auto;
}
